<nav id="sidebar" class="sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand navbar-bg" href="index.html">
            <img src="./assets/icons/logo.svg" class="align-middle" width="160">
        </a>
        <div class="topics">
            <ul class="sidebar-nav">
                <li>
                    <a data-target="#ui" class="collapsed sidebar-link" data-toggle="collapse">
                        <img src="./assets/images/menuicons/settings.svg" class="side_img" />
                        <span class="align-middle">Settings</span>
                    </a>

                    <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/Country" class="sidebar-link">
                                <img src="./assets/images/menuicons/Country.svg" class="side_img" />
                                <span class="align-middle">Country</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/State.svg" class="side_img" />
                                <span class="align-middle">State</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/city.svg" class="side_img" />
                                <span class="align-middle">City</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/Currency.svg" class="side_img" />
                                <span class="align-middle">Currency</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/Organization.svg" class="side_img" />
                                <span class="align-middle">Organization</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/Unit Of Measurements.svg" class="side_img" />
                                <span class="align-middle">Unit of Measurements</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a href="/" class="sidebar-link">
                                <img src="./assets/images/menuicons/System Language.svg" class="side_img" />
                                <span class="align-middle">System Languages</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a data-target="#" class="collapsed sidebar-link" data-toggle="collapse">
                        <img src="./assets/images/menuicons/Stakeholders.svg" class="side_img" />
                        <span class="align-middle">Stakeholders</span>
                    </a>
                </li>

                <li>
                    <a data-target="#cat" class="collapsed sidebar-link" data-toggle="collapse">
                        <img src="./assets/images/menuicons/catalog.svg" class="side_img" />
                        <span class="align-middle">Catalog</span>
                    </a>

                    <ul id="cat" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/ProductGroup" class="sidebar-link">
                                <img src="./assets/images/menuicons/Country.svg" class="side_img" />
                                <span class="align-middle">Product Group</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/ProductModel" class="sidebar-link">
                                <img src="./assets/images/menuicons/State.svg" class="side_img" />
                                <span class="align-middle">Product Model</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/ProductColor" class="sidebar-link">
                                <img src="./assets/images/menuicons/city.svg" class="side_img" />
                                <span class="align-middle">Product Color</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Product" class="sidebar-link">
                                <img src="./assets/images/menuicons/Currency.svg" class="side_img" />
                                <span class="align-middle">Product</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a data-target="#um" class="collapsed sidebar-link" data-toggle="collapse">
                        <img src="./assets/images/menuicons/Usermangement.svg" class="side_img" />
                        <span class="align-middle">User Management</span>
                    </a>
                    <ul id="um" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/Role" class="sidebar-link">
                                <img src="./assets/images/menuicons/State.svg" class="side_img" />
                                <span class="align-middle">Role</span>
                            </a>
                        </li>
                    </ul>
                    <ul id="um" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/UserRights" class="sidebar-link">
                                <img src="./assets/images/menuicons/State.svg" class="side_img" />
                                <span class="align-middle">Users & Access Rights</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a data-target="#" class="collapsed sidebar-link" data-toggle="collapse">
                        <img src="./assets/images/menuicons/transactions.svg" class="side_img" />
                        <span class="align-middle">Transactions</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>