
<nav aria-label="breadcrumb">
    <div class="col-auto ml-auto text-right mt-n1 mb-2">
        <!-- @*<a class="float-left"><img src="../../assets/icons/Settings2.svg" class="align-middle mr-2"></a>*@ -->
        <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">            
            <!-- <li class="breadcrumb-item"><a id="breadLevel1"></a></li>
            <li class="breadcrumb-item"><a id="breadLevel2" href=""></a></li>

            @*<li class="breadcrumb-item active" id="breadLevel3" aria-current="page"></li>*@ -->
            <li class="breadcrumb-item"><a id="breadLevel1">Settings</a></li>
            <li class="breadcrumb-item"><a id="breadLevel2" href="">Customers</a></li>
        </ol>
    </div>
</nav>